/* Font Declarations */
@font-face {
  font-family: nyt-franklin;
  src: url(../fonts/franklin/franklin-normal-500.ttf);
  font-weight: 500;
}
@font-face {
  font-family: nyt-franklin;
  src: url(../fonts/franklin/franklin-normal-700.ttf);
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

#nyt-main-nav,
#article-header {
  display: grid;
  font-size: 14.57px;
  height: 45px;
  padding: 0 min(158px, 5vw);
  grid-template-columns: 1fr 1fr 1fr;
}
#nyt-main-nav > *,
#article-header > * {
  align-self: center;
}
#nyt-main-nav > * > *,
#article-header > * > * {
  cursor: pointer;
}
#nyt-main-nav > *:nth-child(1),
#article-header > *:nth-child(1) {
  text-align: left;
}
#nyt-main-nav > *:nth-child(2),
#article-header > *:nth-child(2) {
  text-align: center;
}
#nyt-main-nav > *:nth-child(3),
#article-header > *:nth-child(3) {
  text-align: right;
}

.pr-16 {
  padding-right: 16px;
}

#nyt-main-nav {
  border-bottom: 1px solid #e2e2e2;
}

#article-header {
  background-color: #f7f7f7;
  font-weight: 700;
  color: #444444;
  position: sticky;
  top: 0;
  z-index: 3;
}

.inline-icon {
  width: 0.8em;
  padding-left: 0.4em;
}

main {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

menu {
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 24px;
  letter-spacing: 1.3px;
  text-align: left;
  width: 240px;
  height: 46px;
  background-color: #252525;
  border-radius: 10px;
  margin: 0;
  border: 0.5px solid black;
  padding: 0;
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 66px;
  transition: height 0.5s, background-color 0.3s;
  overflow-y: hidden;
}
menu .menu-title {
  display: flex;
  height: 100%;
  height: 46px;
  width: 240px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 10px;
  transition: opacity 0.3s;
  transition-delay: 0.4s;
  cursor: pointer;
}
menu .menu-title .menu-title-text {
  position: absolute;
  left: 33px;
}
menu .menu-title .menu-gem {
  height: 20px;
  padding-left: 10px;
}
menu .menu-title .menu-hamburger {
  position: absolute;
  width: 18px;
  right: 13px;
}
menu .menu-title .menu-hamburger.black {
  display: none;
}
menu .menu-list {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  padding-left: 33px;
}
menu .menu-list > a {
  display: block;
  color: #a4a4a4;
  text-decoration: none;
  transition: color 0.3s;
}
menu .menu-list .menu-close {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}
menu:hover, menu.active {
  background-color: #fff;
  color: #000;
}
menu:hover .menu-hamburger.black {
  display: block;
}
menu:hover .menu-hamburger.white {
  display: none;
}
menu.active {
  height: 204px;
}
menu.active .menu-list {
  opacity: 1;
  pointer-events: all;
}
menu.active .menu-list > a:hover {
  color: #000;
}
menu.active .menu-title {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}
@media (max-width: 768px) {
  menu {
    position: relative;
    top: 0;
    left: 0;
    margin: 60px auto;
  }
}

#title {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: min(158px, 5vw);
  padding-top: 160px;
  height: 80vh;
}
#title h2 {
  font-size: 50px;
  font-weight: 600;
}
#title h1 {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
  font-size: min(500px, 30vw);
  font-weight: 400;
  letter-spacing: -0.082em;
  line-height: 0.8em;
  position: relative;
  left: -0.07em;
  color: transparent;
}
#title h3 {
  font-size: 25px;
  font-weight: 400;
  width: 522px;
  padding-top: 32px;
}
#title #title-gem {
  display: none;
}
@media (max-width: 768px) {
  #title {
    align-items: center;
    padding: 0;
    height: auto;
  }
  #title h2 {
    font-size: 25px;
  }
  #title h1 {
    font-size: 160px;
    letter-spacing: -19px;
  }
  #title h3 {
    font-size: 18px;
    width: auto;
    max-width: 360px;
    padding-top: 0;
  }
  #title #title-gem {
    display: block;
    width: min(340px, 80vw);
  }
}

section {
  position: relative;
  padding: 208px 0;
}
section.white {
  background-color: white;
  color: black;
}
@media (max-width: 768px) {
  section {
    padding: 20px 0;
  }
}

.centred-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}
.centred-container > div {
  max-width: 526px;
}
.centred-container > div > div {
  padding: 16px 0;
}
@media (max-width: 768px) {
  .centred-container {
    display: block;
    padding: 128px 12px;
    min-height: auto;
  }
  .centred-container > div {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }
}
.centred-container.big {
  min-height: auto;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0px;
  text-align: center;
  padding: 120px 0;
}
.centred-container.big > div {
  width: 70%;
  max-width: 865px;
}
@media (max-width: 768px) {
  .centred-container.big {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }
  .centred-container.big > div {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }
}
.centred-container.medium {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
}
@media (max-width: 768px) {
  .centred-container.medium {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.dual-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 128px;
  padding: 0 128px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.dual-container > img {
  width: 40vw;
}
@media (max-width: 768px) {
  .dual-container {
    flex-direction: column;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    gap: 0;
  }
  .dual-container.reverse {
    flex-direction: column-reverse;
  }
  .dual-container > img,
  .dual-container div {
    width: 100%;
    max-width: 360px;
    margin: auto;
    display: block;
    padding: 32px 0;
  }
}
.dual-container .dual-text-smaller {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.dual-container .dual-text-smaller > div {
  padding: 16px 0;
}

.quote-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 128px 0 128px 128px;
  gap: 128px;
}
.quote-container > img {
  width: 37vw;
}
.quote-container > .quote-wrapper {
  max-width: 630px;
}
.quote-container > .quote-wrapper > .quote {
  font-size: 29px;
  font-weight: 700;
  line-height: 34px;
}
.quote-container > .quote-wrapper > .quote-author {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 32px;
}
@media (max-width: 768px) {
  .quote-container {
    display: block;
    padding: 0;
  }
  .quote-container > .quote-wrapper {
    padding: 12px;
    max-width: 360px;
    margin: auto;
  }
  .quote-container > .quote-wrapper > .quote {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
  .quote-container > .quote-wrapper > .quote-author {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .quote-container > img {
    max-width: 90%;
    width: 340px;
    margin-left: auto;
    display: block;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 43px;
  column-gap: 16px;
  row-gap: 16px;
}
.image-grid img {
  width: 100%;
  display: block;
}
.image-grid #shopfront {
  align-self: end;
  grid-column-start: 1;
  grid-row-start: 1;
}
.image-grid #bw-jewelry {
  grid-row-end: span 2;
  grid-column-start: 2;
}
.image-grid #necklace-on-dummy {
  width: 60%;
  align-self: end;
  grid-column-start: 3;
  grid-row-start: 1;
}
.image-grid #inspection {
  width: 85%;
  justify-self: right;
}
@media (max-width: 768px) {
  .image-grid {
    display: block;
    padding: 0;
  }
  .image-grid #shopfront {
    padding-left: 12px;
    width: 55%;
    padding-top: 55px;
  }
  .image-grid #inspection {
    padding-right: 12px;
    width: 60%;
    margin-left: auto;
    padding-top: 42px;
  }
  .image-grid #necklace-on-dummy {
    width: 57%;
    padding-left: 12px;
    padding-top: 45px;
  }
  .image-grid #blueprint {
    padding-right: 12px;
    width: 60%;
    margin-left: auto;
    padding-top: 45px;
  }
}

.fullscreen-video {
  width: 100vw;
  min-height: 80vh;
  object-fit: cover;
}

#chanel-cta {
  background-color: white;
  color: black;
  font-size: 35px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
  padding: 80px 32px;
}
#chanel-cta a {
  text-decoration: underline;
  color: inherit;
}
#chanel-cta a:hover {
  opacity: 0.8;
}
#chanel-cta .chanel-logo {
  width: 300px;
  margin: auto;
  display: block;
}
@media (max-width: 768px) {
  #chanel-cta {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
  }
}

footer .post-role-message {
  font-family: Source Sans Pro, Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  background-color: #f7f7f7;
  padding: 12px;
  color: #686868;
}
footer nav {
  border-top: 1px solid #e2e2e2;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #6f6f6f;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  row-gap: 12px;
}
footer nav > div {
  display: flex;
  flex-direction: row;
  column-gap: inherit;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer nav a {
  text-decoration: none;
  color: inherit;
}
footer nav a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
