/* Font Declarations */

@font-face {
  font-family: nyt-franklin;
  src: url(../fonts/franklin/franklin-normal-500.ttf);
  font-weight: 500;
}

@font-face {
  font-family: nyt-franklin;
  src: url(../fonts/franklin/franklin-normal-700.ttf);
  font-weight: 700;
}

// Variable Declarations

$horizontal-padding: min(158px, 5vw);

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  margin: 0;
}

#nyt-main-nav,
#article-header {
  display: grid;
  font-size: 14.57px;
  height: 45px;
  padding: 0 $horizontal-padding;
  grid-template-columns: 1fr 1fr 1fr;
  > * {
    align-self: center;
    > * {
      cursor: pointer;
    }
  }
  :nth-child(1) {
    text-align: left;
  }
  :nth-child(2) {
    text-align: center;
  }
  :nth-child(3) {
    text-align: right;
  }
}

#nyt-main-nav {
  border-bottom: 1px solid #e2e2e2;
}

#article-header {
  background-color: #f7f7f7;
  font-weight: 700;
  color: #444444;
}

.inline-icon {
  width: 0.8em;
  padding-left: 0.4em;
}

#share-article {
}

#paid-post {
}
